p {
  margin-right: 16px;
  display: inline-block;
}

.time {
  color: var(--ion-color-medium);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

ion-item {
  font-size: 14px;
}

.icon-toolbar {
  color: var(--ion-color-primary-contrast);
}